In [ ]:
pip install openclean

Requirement already satisfied: openclean in /usr/local/lib/python3.7/dist-packages (0.2.1)
Requirement already satisfied: openclean-core==0.4.1 in /usr/local/lib/python3.7/dist-packages (from openclean) (0.4.1)
Requirement already satisfied: histore>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.4.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.0.1)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.3.4)
Requirement already satisfied: jsonschema>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (4.2.1)
Requirement already satisfied: jellyfish in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.8.9)
Requirement already satisfied: flowserv-core>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.9.2)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.1.5)
Requirement already satisfied: refdata>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.2.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.8.2)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.16.0)
Requirement already satisfied: passlib in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.7.4)
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.4.27)
Requirement already satisfied: paramiko in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (2.8.0)
Requirement already satisfied: pyyaml-include in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.2.post2)
Requirement already satisfied: gitpython in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.1.24)
Requirement already satisfied: Click in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (7.1.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (5.4.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore>=0.4.0->openclean-core==0.4.1->openclean) (5.4.8)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (21.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (0.18.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (4.8.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (5.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (3.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->openclean-core==0.4.1->openclean) (1.15.0)
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (1.5.2)
Requirement already satisfied: datasize>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (1.0.0)
Requirement already satisfied: tableprint in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (0.9.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.3.18->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.1.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (4.0.9)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.10.0.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (5.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (3.0.6)
Requirement already satisfied: pynacl>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.4.0)
Requirement already satisfied: cryptography>=2.5 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (35.0.0)
Requirement already satisfied: bcrypt>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.2.0)
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (2.21)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2021.10.8)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (3.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core==0.4.1->openclean) (0.2.5)

In [ ]:
import openclean
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from openclean.pipeline import stream
ds = stream(os.path.join('data', '/content/drive/My Drive/Big Data/Historical_DOB_Permit_Issuance.csv'))

# Data Profiling

In [ ]:
# Get the list of column names in the dataset.

ds.columns

['BOROUGH',
 'BIN',
 'Number',
 'Street',
 'Job #',
 'Job doc. #',
 'Job Type',
 'Self_Cert',
 'Block',
 'Lot',
 'Community Board',
 'Postcode',
 'Bldg Type',
 'Residential',
 'Special District 1',
 'Special District 2',
 'Work Type',
 'Permit Status',
 'Filing Status',
 'Permit Type',
 'Permit Sequence #',
 'Permit Subtype',
 'Oil Gas',
 'Site Fill',
 'Filing Date',
 'Issuance Date',
 'Expiration Date',
 'Job Start Date',
 "Permittee's First Name",
 "Permittee's Last Name",
 "Permittee's Business Name",
 "Permittee's Phone #",
 "Permittee's License Type",
 "Permittee's License #",
 'Act as Superintendent',
 "Permittee's Other Title",
 'HIC License',
 "Site Safety Mgr's First Name",
 "Site Safety Mgr's Last Name",
 'Site Safety Mgr Business Name',
 'Superintendent First & Last Name',
 'Superintendent Business Name',
 "Owner's Business Type",
 'Non-Profit',
 "Owner's Business Name",
 "Owner's First Name",
 "Owner's Last Name",
 "Owner's House #",
 "Owner's House Street Name",
 'Owner’s House City',
 'Owner’s House State',
 'Owner’s House Zip Code',
 "Owner's Phone #",
 'DOBRunDate',
 'Latitude',
 'Longitude',
 'Council District',
 'Census Tract',
 'BBL',
 'NTA']

In [ ]:
# Take a look ath the first 10 rows in the dataset.

ds.head()

  BOROUGH  ...                                                NTA
0   BRONX  ...  Norwood                                       ...
1   BRONX  ...  Co-op City                                    ...
2   BRONX  ...  University Heights-Morris Heights             ...
3   BRONX  ...  Mount Hope                                    ...
4   BRONX  ...  Spuyten Duyvil-Kingsbridge                    ...
5   BRONX  ...  Belmont                                       ...
6   BRONX  ...  East Concourse-Concourse Village              ...
7   BRONX  ...  Mott Haven-Port Morris                        ...
8   BRONX  ...  Claremont-Bathgate                            ...
9   BRONX  ...  West Concourse                                ...

[10 rows x 60 columns]

In [ ]:
# Count the number of rows in the dataset.

ds.count()

2428526

In [ ]:
df = ds.to_df()

In [ ]:
# Get basic profile information for all columns in the dataset.

profiles = ds.profile()
profiles

/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname LLC identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname ADMIN identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname VE identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname ASSOC identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname PHOTO identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

[{'column': 'BOROUGH',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2428526})}),
   'emptyValueCount': 0,
   'minmaxValues': {'str': {'maximum': 'STATEN ISLAND', 'minimum': 'BRONX'}},
   'totalValueCount': 2428526}},
 {'column': 'BIN',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 2428526})}),
   'emptyValueCount': 0,
   'minmaxValues': {'int': {'maximum': 5863849, 'minimum': 1000003}},
   'totalValueCount': 2428526}},
 {'column': 'Number',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 409,
                         'int': 1927484,
                         'str': 500629})}),
   'emptyValueCount': 4,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2291, 1, 2, 0, 0),
     'minimum': datetime.datetime(100, 1, 2, 0, 0)},
    'int': {'maximum': 163015, 'minimum': 0},
    'str': {'maximum': 'PO1250', 'minimum': '000000029-06'}},
   'totalValueCount': 2428526}},
 {'column': 'Street',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 969, 'int': 41, 'str': 2427512})}),
   'emptyValueCount': 4,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2070, 11, 21, 0, 0),
     'minimum': datetime.datetime(100, 11, 21, 0, 0)},
    'int': {'maximum': 4836830, 'minimum': 41},
    'str': {'maximum': '`BROWVALE LANE', 'minimum': '.UNIVERSITY AVENUE'}},
   'totalValueCount': 2428526}},
 {'column': 'Job #',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 2428526})}),
   'emptyValueCount': 0,
   'minmaxValues': {'int': {'maximum': 577777776, 'minimum': 100030011}},
   'totalValueCount': 2428526}},
 {'column': 'Job doc. #',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 2428526})}),
   'emptyValueCount': 0,
   'minmaxValues': {'int': {'maximum': 12, 'minimum': 1}},
   'totalValueCount': 2428526}},
 {'column': 'Job Type',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2428526})}),
   'emptyValueCount': 0,
   'minmaxValues': {'str': {'maximum': 'SG', 'minimum': 'A1'}},
   'totalValueCount': 2428526}},
 {'column': 'Self_Cert',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 900685})}),
   'emptyValueCount': 1527841,
   'minmaxValues': {'str': {'maximum': 'Y', 'minimum': 'Y'}},
   'totalValueCount': 2428526}},
 {'column': 'Block',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 2428021, 'str': 7})}),
   'emptyValueCount': 498,
   'minmaxValues': {'int': {'maximum': 99999, 'minimum': 0},
    'str': {'maximum': 'O6534', 'minimum': 'O2849'}},
   'totalValueCount': 2428526}},
 {'column': 'Lot',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 2428000, 'str': 19})}),
   'emptyValueCount': 507,
   'minmaxValues': {'int': {'maximum': 99917, 'minimum': 0},
    'str': {'maximum': 'OOO58', 'minimum': '...28'}},
   'totalValueCount': 2428526}},
 {'column': 'Community Board',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 7, 'int': 2425666, 'str': 1})}),
   'emptyValueCount': 2852,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2018, 2, 2, 0, 0),
     'minimum': datetime.datetime(2018, 1, 1, 0, 0)},
    'int': {'maximum': 609, 'minimum': -10},
    'str': {'maximum': '40`', 'minimum': '40`'}},
   'totalValueCount': 2428526}},
 {'column': 'Postcode',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 2427476})}),
   'emptyValueCount': 1050,
   'minmaxValues': {'int': {'maximum': 11697, 'minimum': 0}},
   'totalValueCount': 2428526}},
 {'column': 'Bldg Type',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 2374247})}),
   'emptyValueCount': 54279,
   'minmaxValues': {'int': {'maximum': 2, 'minimum': 1}},
   'totalValueCount': 2428526}},
 {'column': 'Residential',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 772772})}),
   'emptyValueCount': 1655754,
   'minmaxValues': {'str': {'maximum': 'YES', 'minimum': 'YES'}},
   'totalValueCount': 2428526}},
 {'column': 'Special District 1',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 1116, 'str': 185476})}),
   'emptyValueCount': 2241934,
   'minmaxValues': {'int': {'maximum': 125, 'minimum': 125},
    'str': {'maximum': 'Y', 'minimum': '.'}},
   'totalValueCount': 2428526}},
 {'column': 'Special District 2',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2639})}),
   'emptyValueCount': 2425887,
   'minmaxValues': {'str': {'maximum': 'TA', 'minimum': 'C'}},
   'totalValueCount': 2428526}},
 {'column': 'Work Type',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 1974557})}),
   'emptyValueCount': 453969,
   'minmaxValues': {'str': {'maximum': 'SP', 'minimum': 'BL'}},
   'totalValueCount': 2428526}},
 {'column': 'Permit Status',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2419621})}),
   'emptyValueCount': 8905,
   'minmaxValues': {'str': {'maximum': 'REVOKED', 'minimum': 'IN PROCESS'}},
   'totalValueCount': 2428526}},
 {'column': 'Filing Status',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2428526})}),
   'emptyValueCount': 0,
   'minmaxValues': {'str': {'maximum': 'RENEWAL', 'minimum': 'INITIAL'}},
   'totalValueCount': 2428526}},
 {'column': 'Permit Type',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2428525})}),
   'emptyValueCount': 1,
   'minmaxValues': {'str': {'maximum': 'SG', 'minimum': 'AL'}},
   'totalValueCount': 2428526}},
 {'column': 'Permit Sequence #',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 2428526})}),
   'emptyValueCount': 0,
   'minmaxValues': {'int': {'maximum': 26, 'minimum': 1}},
   'totalValueCount': 2428526}},
 {'column': 'Permit Subtype',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 1418233})}),
   'emptyValueCount': 1010293,
   'minmaxValues': {'str': {'maximum': 'SP', 'minimum': 'BL'}},
   'totalValueCount': 2428526}},
 {'column': 'Oil Gas',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 31034})}),
   'emptyValueCount': 2397492,
   'minmaxValues': {'str': {'maximum': 'OIL', 'minimum': 'GAS'}},
   'totalValueCount': 2428526}},
 {'column': 'Site Fill',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2260823})}),
   'emptyValueCount': 167703,
   'minmaxValues': {'str': {'maximum': 'USE UNDER 300 CU.YD',
     'minimum': 'NONE'}},
   'totalValueCount': 2428526}},
 {'column': 'Filing Date',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 2428526})}),
   'emptyValueCount': 0,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2013, 11, 26, 0, 0),
     'minimum': datetime.datetime(1989, 5, 11, 0, 0)}},
   'totalValueCount': 2428526}},
 {'column': 'Issuance Date',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 2428526})}),
   'emptyValueCount': 0,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2013, 4, 24, 0, 0),
     'minimum': datetime.datetime(1989, 5, 11, 0, 0)}},
   'totalValueCount': 2428526}},
 {'column': 'Expiration Date',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 2428522})}),
   'emptyValueCount': 4,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2209, 4, 28, 0, 0),
     'minimum': datetime.datetime(1900, 12, 31, 0, 0)}},
   'totalValueCount': 2428526}},
 {'column': 'Job Start Date',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 2428503, 'str': 20})}),
   'emptyValueCount': 3,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2501, 7, 27, 0, 0),
     'minimum': datetime.datetime(1006, 1, 30, 0, 0)},
    'str': {'maximum': '71/23/2002', 'minimum': '//*'}},
   'totalValueCount': 2428526}},
 {'column': "Permittee's First Name",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 3,
                         'float': 128,
                         'int': 12,
                         'str': 2428378})}),
   'emptyValueCount': 5,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2018, 3, 1, 0, 0),
     'minimum': datetime.datetime(2010, 3, 12, 0, 0)},
    'float': {'maximum': nan, 'minimum': nan},
    'int': {'maximum': 71843987886510, 'minimum': 0},
    'str': {'maximum': 'ï¿½MICHAEL', 'minimum': '#NAME?'}},
   'totalValueCount': 2428526}},
 {'column': "Permittee's Last Name",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 4,
                         'float': 6,
                         'int': 19,
                         'str': 2428492})}),
   'emptyValueCount': 5,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2007, 4, 17, 0, 0),
     'minimum': datetime.datetime(1993, 8, 19, 0, 0)},
    'float': {'maximum': nan, 'minimum': nan},
    'int': {'maximum': 77183838400370, 'minimum': 1},
    'str': {'maximum': 'ï¿½ï¿½LAZAR', 'minimum': '#NAME?'}},
   'totalValueCount': 2428526}},
 {'column': "Permittee's Business Name",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 3, 'int': 24, 'str': 2428488})}),
   'emptyValueCount': 11,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2112, 3, 1, 0, 0),
     'minimum': datetime.datetime(1984, 11, 21, 0, 0)},
    'int': {'maximum': 4202, 'minimum': 11},
    'str': {'maximum': 'ï¿½ROTO CONSTRUCTIIN & DEVELOPMENT',
     'minimum': '"A TO Z" REST ENVMTL CONT'}},
   'totalValueCount': 2428526}},
 {'column': "Permittee's Phone #",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 2,
                         'float': 34,
                         'int': 2427060,
                         'str': 1126})}),
   'emptyValueCount': 304,
   'minmaxValues': {'date': {'maximum': datetime.datetime(5165, 5, 27, 0, 0),
     'minimum': datetime.datetime(5165, 5, 27, 0, 0)},
    'float': {'maximum': 71884996.5, 'minimum': 212.025585},
    'int': {'maximum': 9999999999, 'minimum': -956743342},
    'str': {'maximum': '9738-91731', 'minimum': '0212  947'}},
   'totalValueCount': 2428526}},
 {'column': "Permittee's License Type",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2173574})}),
   'emptyValueCount': 254952,
   'minmaxValues': {'str': {'maximum': 'SIGN HANGER',
     'minimum': 'DEMOLITION CONTRACTOR'}},
   'totalValueCount': 2428526}},
 {'column': "Permittee's License #",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 3,
                         'float': 4,
                         'int': 2205014,
                         'str': 2309})}),
   'emptyValueCount': 221196,
   'minmaxValues': {'date': {'maximum': datetime.datetime(1991, 11, 19, 0, 0),
     'minimum': datetime.datetime(1991, 11, 19, 0, 0)},
    'float': {'maximum': 0.462, 'minimum': 4e-06},
    'int': {'maximum': 9999999, 'minimum': -53260},
    'str': {'maximum': '__846', 'minimum': '#176-B'}},
   'totalValueCount': 2428526}},
 {'column': 'Act as Superintendent',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 1595226})}),
   'emptyValueCount': 833300,
   'minmaxValues': {'str': {'maximum': 'Y', 'minimum': 'N'}},
   'totalValueCount': 2428526}},
 {'column': "Permittee's Other Title",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 1, 'int': 83, 'str': 268175})}),
   'emptyValueCount': 2160267,
   'minmaxValues': {'date': {'maximum': datetime.datetime(1996, 6, 17, 0, 0),
     'minimum': datetime.datetime(1996, 6, 17, 0, 0)},
    'int': {'maximum': 112646974, 'minimum': 155},
    'str': {'maximum': '`G.C.', 'minimum': "'G.C."}},
   'totalValueCount': 2428526}},
 {'column': 'HIC License',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 26783, 'str': 21})}),
   'emptyValueCount': 2401722,
   'minmaxValues': {'int': {'maximum': 9999999, 'minimum': 0},
    'str': {'maximum': 'SSH142', 'minimum': '5002B'}},
   'totalValueCount': 2428526}},
 {'column': "Site Safety Mgr's First Name",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 22, 'str': 10839})}),
   'emptyValueCount': 2417665,
   'minmaxValues': {'int': {'maximum': 111111111111111, 'minimum': 0},
    'str': {'maximum': '___TIM', 'minimum': '.'}},
   'totalValueCount': 2428526}},
 {'column': "Site Safety Mgr's Last Name",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'float': 16, 'int': 10, 'str': 10835})}),
   'emptyValueCount': 2417665,
   'minmaxValues': {'float': {'maximum': 1.11111111111111e+19,
     'minimum': 1.11111111111111e+19},
    'int': {'maximum': 111111111111111, 'minimum': 0},
    'str': {'maximum': '\\ALVATO', 'minimum': '.'}},
   'totalValueCount': 2428526}},
 {'column': 'Site Safety Mgr Business Name',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'float': 13, 'int': 19, 'str': 8545})}),
   'emptyValueCount': 2419949,
   'minmaxValues': {'float': {'maximum': 1.11111111111111e+31,
     'minimum': 1.11111111111111e+31},
    'int': {'maximum': 1111111111111110, 'minimum': 0},
    'str': {'maximum': '___N/A', 'minimum': '-NONE-'}},
   'totalValueCount': 2428526}},
 {'column': 'Superintendent First & Last Name',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 2,
                         'float': 1,
                         'int': 25,
                         'str': 1632109})}),
   'emptyValueCount': 796389,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2112, 3, 1, 0, 0),
     'minimum': datetime.datetime(2051, 4, 21, 0, 0)},
    'float': {'maximum': nan, 'minimum': nan},
    'int': {'maximum': 4202, 'minimum': 1},
    'str': {'maximum': 'ï¿½ROTO CONSTRUCTIIN & DEVELOPMENT',
     'minimum': '"AGENT FOR OWNER" MARIA SIGNORIL'}},
   'totalValueCount': 2428526}},
 {'column': 'Superintendent Business Name',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 2,
                         'float': 1,
                         'int': 25,
                         'str': 1631988})}),
   'emptyValueCount': 796510,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2112, 3, 1, 0, 0),
     'minimum': datetime.datetime(2051, 4, 21, 0, 0)},
    'float': {'maximum': nan, 'minimum': nan},
    'int': {'maximum': 4202, 'minimum': 1},
    'str': {'maximum': 'ï¿½ROTO CONSTRUCTIIN & DEVELOPMENT',
     'minimum': '"AGENT FOR OWNER" MARIA SIGNORIL'}},
   'totalValueCount': 2428526}},
 {'column': "Owner's Business Type",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2267531})}),
   'emptyValueCount': 160995,
   'minmaxValues': {'str': {'maximum': 'PARTNERSHIP',
     'minimum': 'CONDO/CO-OP'}},
   'totalValueCount': 2428526}},
 {'column': 'Non-Profit',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 157298})}),
   'emptyValueCount': 2271228,
   'minmaxValues': {'str': {'maximum': 'Y', 'minimum': 'Y'}},
   'totalValueCount': 2428526}},
 {'column': "Owner's Business Name",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 214,
                         'float': 5,
                         'int': 1111,
                         'str': 2183266})}),
   'emptyValueCount': 243930,
   'minmaxValues': {'date': {'maximum': datetime.datetime(2070, 1, 21, 0, 0),
     'minimum': datetime.datetime(110, 8, 21, 0, 0)},
    'float': {'maximum': nan, 'minimum': nan},
    'int': {'maximum': 71888476765925, 'minimum': -671},
    'str': {'maximum': 'ï¿½PWS REALTY', 'minimum': '"  Gayana  Grocery "'}},
   'totalValueCount': 2428526}},
 {'column': "Owner's First Name",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'float': 135, 'int': 96, 'str': 2271432})}),
   'emptyValueCount': 156863,
   'minmaxValues': {'float': {'maximum': nan, 'minimum': nan},
    'int': {'maximum': 1111111, 'minimum': 0},
    'str': {'maximum': 'ï¿½ETER', 'minimum': '#NAME?'}},
   'totalValueCount': 2428526}},
 {'column': "Owner's Last Name",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 1,
                         'float': 9,
                         'int': 182,
                         'str': 2271465})}),
   'emptyValueCount': 156869,
   'minmaxValues': {'date': {'maximum': datetime.datetime(500, 5, 21, 0, 0),
     'minimum': datetime.datetime(500, 5, 21, 0, 0)},
    'float': {'maximum': nan, 'minimum': nan},
    'int': {'maximum': 3832, 'minimum': 0},
    'str': {'maximum': 'ï¿½PALMER', 'minimum': '#NAME?'}},
   'totalValueCount': 2428526}},
 {'column': "Owner's House #",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 7922,
                         'float': 60,
                         'int': 1704482,
                         'str': 559139})}),
   'emptyValueCount': 156923,
   'minmaxValues': {'date': {'maximum': datetime.datetime(3020, 11, 21, 0, 0),
     'minimum': datetime.datetime(100, 2, 21, 0, 0)},
    'float': {'maximum': 171.2, 'minimum': 0.36},
    'int': {'maximum': 999999999999, 'minimum': -170277},
    'str': {'maximum': '∞', 'minimum': '# 1'}},
   'totalValueCount': 2428526}},
 {'column': "Owner's House Street Name",
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 11726,
                         'float': 3,
                         'int': 12257,
                         'str': 2247616})}),
   'emptyValueCount': 156924,
   'minmaxValues': {'date': {'maximum': datetime.datetime(3501, 2, 1, 0, 0),
     'minimum': datetime.datetime(100, 11, 21, 0, 0)},
    'float': {'maximum': 202.3, 'minimum': 202.3},
    'int': {'maximum': 174017401740, 'minimum': -120138},
    'str': {'maximum': 'ï¿½RPSï¿½ECT AVE/', 'minimum': '"E\''}},
   'totalValueCount': 2428526}},
 {'column': 'Owner’s House City',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'date': 2, 'int': 166, 'str': 2271324})}),
   'emptyValueCount': 157034,
   'minmaxValues': {'date': {'maximum': datetime.datetime(1987, 11, 21, 0, 0),
     'minimum': datetime.datetime(1987, 11, 21, 0, 0)},
    'int': {'maximum': 89789, 'minimum': 0},
    'str': {'maximum': '{QUEENS', 'minimum': '(212) 759-8585'}},
   'totalValueCount': 2428526}},
 {'column': 'Owner’s House State',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'str': 2271393})}),
   'emptyValueCount': 157133,
   'minmaxValues': {'str': {'maximum': 'ï¿½ï¿½', 'minimum': 'AK'}},
   'totalValueCount': 2428526}},
 {'column': 'Owner’s House Zip Code',
  'stats': {'datatypes': defaultdict(collections.Counter,
               {'total': Counter({'int': 2266336, 'str': 92})}),
   'emptyValueCount': 162098,

In [ ]:
# Print number of empty cells for each column

profiles.stats()

                                    total    empty distinct uniqueness entropy
BOROUGH                           2428526        0     None       None    None
BIN                               2428526        0     None       None    None
Number                            2428526        4     None       None    None
Street                            2428526        4     None       None    None
Job #                             2428526        0     None       None    None
Job doc. #                        2428526        0     None       None    None
Job Type                          2428526        0     None       None    None
Self_Cert                         2428526  1527841     None       None    None
Block                             2428526      498     None       None    None
Lot                               2428526      507     None       None    None
Community Board                   2428526     2852     None       None    None
Postcode                          2428526     1050     None       None    None
Bldg Type                         2428526    54279     None       None    None
Residential                       2428526  1655754     None       None    None
Special District 1                2428526  2241934     None       None    None
Special District 2                2428526  2425887     None       None    None
Work Type                         2428526   453969     None       None    None
Permit Status                     2428526     8905     None       None    None
Filing Status                     2428526        0     None       None    None
Permit Type                       2428526        1     None       None    None
Permit Sequence #                 2428526        0     None       None    None
Permit Subtype                    2428526  1010293     None       None    None
Oil Gas                           2428526  2397492     None       None    None
Site Fill                         2428526   167703     None       None    None
Filing Date                       2428526        0     None       None    None
Issuance Date                     2428526        0     None       None    None
Expiration Date                   2428526        4     None       None    None
Job Start Date                    2428526        3     None       None    None
Permittee's First Name            2428526        5     None       None    None
Permittee's Last Name             2428526        5     None       None    None
Permittee's Business Name         2428526       11     None       None    None
Permittee's Phone #               2428526      304     None       None    None
Permittee's License Type          2428526   254952     None       None    None
Permittee's License #             2428526   221196     None       None    None
Act as Superintendent             2428526   833300     None       None    None
Permittee's Other Title           2428526  2160267     None       None    None
HIC License                       2428526  2401722     None       None    None
Site Safety Mgr's First Name      2428526  2417665     None       None    None
Site Safety Mgr's Last Name       2428526  2417665     None       None    None
Site Safety Mgr Business Name     2428526  2419949     None       None    None
Superintendent First & Last Name  2428526   796389     None       None    None
Superintendent Business Name      2428526   796510     None       None    None
Owner's Business Type             2428526   160995     None       None    None
Non-Profit                        2428526  2271228     None       None    None
Owner's Business Name             2428526   243930     None       None    None
Owner's First Name                2428526   156863     None       None    None
Owner's Last Name                 2428526   156869     None       None    None
Owner's House #                   2428526   156923     None       None    None
Owner's House Street Name         2428526   156924     None       None    None
Owner’s House City                2428526   157034     None       None    None
Owner’s House State               2428526   157133     None       None    None
Owner’s House Zip Code            2428526   162098     None       None    None
Owner's Phone #                   2428526   201963     None       None    None
DOBRunDate                        2428526        0     None       None    None
Latitude                          2428526     9516     None       None    None
Longitude                         2428526     9516     None       None    None
Council District                  2428526     9516     None       None    None
Census Tract                      2428526     9516     None       None    None
BBL                               2428526    29590     None       None    None
NTA                               2428526     8972     None       None    None

In [ ]:
# Print column type information (as data frame)

profiles.types()

                                     date    float      int      str
BOROUGH                                 0        0        0  2428526
BIN                                     0        0  2428526        0
Number                                409        0  1927484   500629
Street                                969        0       41  2427512
Job #                                   0        0  2428526        0
Job doc. #                              0        0  2428526        0
Job Type                                0        0        0  2428526
Self_Cert                               0        0        0   900685
Block                                   0        0  2428021        7
Lot                                     0        0  2428000       19
Community Board                         7        0  2425666        1
Postcode                                0        0  2427476        0
Bldg Type                               0        0  2374247        0
Residential                             0        0        0   772772
Special District 1                      0        0     1116   185476
Special District 2                      0        0        0     2639
Work Type                               0        0        0  1974557
Permit Status                           0        0        0  2419621
Filing Status                           0        0        0  2428526
Permit Type                             0        0        0  2428525
Permit Sequence #                       0        0  2428526        0
Permit Subtype                          0        0        0  1418233
Oil Gas                                 0        0        0    31034
Site Fill                               0        0        0  2260823
Filing Date                       2428526        0        0        0
Issuance Date                     2428526        0        0        0
Expiration Date                   2428522        0        0        0
Job Start Date                    2428503        0        0       20
Permittee's First Name                  3      128       12  2428378
Permittee's Last Name                   4        6       19  2428492
Permittee's Business Name               3        0       24  2428488
Permittee's Phone #                     2       34  2427060     1126
Permittee's License Type                0        0        0  2173574
Permittee's License #                   3        4  2205014     2309
Act as Superintendent                   0        0        0  1595226
Permittee's Other Title                 1        0       83   268175
HIC License                             0        0    26783       21
Site Safety Mgr's First Name            0        0       22    10839
Site Safety Mgr's Last Name             0       16       10    10835
Site Safety Mgr Business Name           0       13       19     8545
Superintendent First & Last Name        2        1       25  1632109
Superintendent Business Name            2        1       25  1631988
Owner's Business Type                   0        0        0  2267531
Non-Profit                              0        0        0   157298
Owner's Business Name                 214        5     1111  2183266
Owner's First Name                      0      135       96  2271432
Owner's Last Name                       1        9      182  2271465
Owner's House #                      7922       60  1704482   559139
Owner's House Street Name           11726        3    12257  2247616
Owner’s House City                      2        0      166  2271324
Owner’s House State                     0        0        0  2271393
Owner’s House Zip Code                  0        0  2266336       92
Owner's Phone #                         2       10  2225214     1337
DOBRunDate                        2428526        0        0        0
Latitude                                0  2419010        0        0
Longitude                               0  2418985       25        0
Council District                        0        0  2419010        0
Census Tract                            0        0  2419010        0
BBL                                     0        0  2398936        0
NTA                                     0        0        0  2419554

In [ ]:
# Which values are identified as 'date' in column 'Number'

from openclean.function.eval.datatype import IsDatetime

ds.select('Number').filter(IsDatetime('Number')).distinct()

Counter({'100 1/2': 1,
         '1041 1/2': 1,
         '1070 1/2': 6,
         '108 1/2': 2,
         '11 1/2': 14,
         '113 1/2': 3,
         '117 1/2': 2,
         '12 - 20': 1,
         '120 1/2': 6,
         '125 1/2': 2,
         '136 - 05': 3,
         '136 1/2': 4,
         '1390 1/2': 5,
         '142 1/2': 2,
         '146 1/2': 1,
         '15 1/2': 1,
         '153  1/2': 1,
         '153 1/2': 8,
         '154 1/2': 6,
         '156 1/2': 3,
         '157 1/2': 5,
         '159 1/2': 6,
         '168 1/2': 1,
         '173 1/2': 1,
         '192 1/2': 1,
         '1959 1/2': 6,
         '203 1/2': 4,
         '213 1/2': 11,
         '22 1/2': 5,
         '223 1/2': 2,
         '229 1/2': 2,
         '2291 1/2': 3,
         '252  1/2': 2,
         '259 1/2': 3,
         '26 1/2': 5,
         '262 1/2': 2,
         '27 1/2': 23,
         '28 1/2': 2,
         '30 1/2': 1,
         '300 1/2': 8,
         '303 1/2': 3,
         '31 1/2': 1,
         '322 1/2': 1,
         '324 1/2': 2,
         '33 1/2': 2,
         '34 1/2': 12,
         '35 1/2': 2,
         '354 1/2': 2,
         '362 1/2': 3,
         '368 1/2': 5,
         '37 1/2': 10,
         '378 1/2': 4,
         '387 1/2': 3,
         '39 1/2': 7,
         '40 1/2': 2,
         '400 1/2': 7,
         '434 1/2': 8,
         '453 1/2': 7,
         '455 1/2': 6,
         '458 1/2': 2,
         '464 1/2': 2,
         '47 1/2': 18,
         '48 1/2': 3,
         '49 1/2': 23,
         '494 1/2': 2,
         '497 1/2': 2,
         '50 1/2': 1,
         '501 1/2': 14,
         '516 1/2': 1,
         '52 1/2': 2,
         '520 1/2': 1,
         '522 1/2': 1,
         '525 1/2': 2,
         '54 1/2': 7,
         '543 1/2': 1,
         '548 1/2': 10,
         '55 1/2': 1,
         '593 1/2': 2,
         '615 1/2': 8,
         '62 1/2': 2,
         '65 1/2': 1,
         '65 1/3': 2,
         '67 1/2': 6,
         '72 1/2': 3,
         '75 -11': 1,
         '78 1/2': 4,
         '82 1/2': 6,
         '88 1/2': 1,
         '891 1/2': 3,
         '93 1/2': 5,
         '94 1/2': 18,
         '97 1/2': 2})

In [ ]:
# Get minimum and maximum values for each datatype in columns 'Date'
profiles.minmax('Issuance Date')

            min        max
date 1989-05-11 2013-04-24

In [ ]:
profiles.minmax('Filing Date')

            min        max
date 1989-05-11 2013-11-26

In [ ]:
profiles.minmax('Expiration Date')

            min        max
date 1900-12-31 2209-04-28

In [ ]:
profiles.minmax('Job Start Date')

                      min                  max
date  1006-01-30 00:00:00  2501-07-27 00:00:00
str                   //*           71/23/2002

In [ ]:
# Filter distinct values in column 'Permittee's First Name' that were recognized
# as being of type float.
from openclean.function.eval.datatype import IsFloat

ds.select('Permittee\'s First Name').filter(IsFloat('Permittee\'s First Name')).distinct()

Counter({'0': 1,
         '1': 1,
         '104563401': 1,
         '113395057': 2,
         '2': 1,
         '2124732668': 1,
         '310229375': 1,
         '524': 1,
         '71843987886510': 1,
         '718548231': 1,
         '7188756744328': 1,
         'NAN': 128})

In [ ]:
# List the distinct values (and their total counts) for
# column 'BOROUGH'

ds.distinct('BOROUGH')

Counter({'BRONX': 215035,
         'BROOKLYN': 532384,
         'MANHATTAN': 1008004,
         'QUEENS': 517986,
         'STATEN ISLAND': 155117})

In [ ]:
df_Street = ds.select('Street').to_df()

In [ ]:
df_Street.head()

             Street
0    WEBSTER AVENUE
1     DEKRUIF PLACE
2   HARRISON AVENUE
3     MORRIS AVENUE
4  WEST  235 STREET

In [ ]:
df_str_Street = df_Street[df_Street['Street'].apply(lambda x: type(x)==str)]

In [ ]:
df_str_Street.value_counts()

Street
BROADWAY           68853
PARK AVENUE        41630
MADISON AVENUE     29448
5 AVENUE           29034
FIFTH AVENUE       20375
                   ...
BOULEVARD DRIVE        1
EAST35 STREET          1
W 114TH ST.            1
W 115                  1
`BROWVALE LANE         1
Length: 20202, dtype: int64

# Data Cleaning

In [ ]:
# Cluster street names using 'Key Collision' clustering with the
# default fingerprint key generator.

from openclean.cluster.key import KeyCollision
from openclean.function.value.key.fingerprint import Fingerprint

street_names = stream(df_str_Street).update('Street', str.upper).distinct('Street')
clusters = KeyCollision(func=Fingerprint()).clusters(street_names)

In [ ]:
# Define simple helper method to print the k largest clusters.

def print_k_clusters(clusters, k=5):
    clusters = sorted(clusters, key=lambda x: len(x), reverse=True)
    val_count = sum([len(c) for c in clusters])
    print('Total number of clusters is {} with {} values'.format(len(clusters), val_count))
    for i in range(min(k, len(clusters))):
        print('\nCluster {}'.format(i + 1))
        for key, cnt in clusters[i].items():
            if key == '':
                key = "''"
            print(f'  {key} (x {cnt})')

In [ ]:
print_k_clusters(clusters)

Total number of clusters is 3354 with 7364 values

Cluster 1
  EAST   13 STREET (x 1981)
  EAST 13 STREET (x 297)
  EAST  13  STREET (x 4)
  EAST  13   STREET (x 1)
  EAST 13  STREET (x 1)
  EAST  13 STREET (x 1)

Cluster 2
  WEST 17 STREET (x 306)
  WEST   17 STREET (x 2034)
  WEST 17  STREET (x 3)
  WEST  17  STREET (x 3)
  WEST  17 STREET (x 2)

Cluster 3
  17TH AVE (x 11)
  17TH  AVE (x 1)
  17TH  AVE. (x 2)
  17TH   AVE (x 1)
  17TH AVE. (x 2)

Cluster 4
  EAST   21 STREET (x 1379)
  EAST 21 STREET (x 254)
  EAST  21  STREET (x 6)
  EAST  21 STREET (x 1)
  EAST 21  STREET (x 4)

Cluster 5
  EAST 21ST STREET (x 197)
  EAST 21ST  STREET (x 13)
  EAST  21ST    STREET (x 3)
  EAST  21ST  STREET (x 1)
  EAST  21ST   STREET (x 1)

In [ ]:
pip install openclean-geo

Collecting openclean-geo
  Downloading openclean_geo-0.1.0-py3-none-any.whl (10 kB)
Requirement already satisfied: openclean-core>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from openclean-geo) (0.4.1)
Requirement already satisfied: Shapely>=1.7.1 in /usr/local/lib/python3.7/dist-packages (from openclean-geo) (1.8.0)
Requirement already satisfied: histore>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.4.1)
Requirement already satisfied: jsonschema>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (4.2.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (1.4.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (1.0.1)
Requirement already satisfied: flowserv-core>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.9.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (1.4.1)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.3.4)
Requirement already satisfied: jellyfish in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.16.0)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (1.1.5)
Requirement already satisfied: refdata>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core>=0.3.0->openclean-geo) (0.2.0)
Requirement already satisfied: gitpython in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (3.1.24)
Requirement already satisfied: passlib in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.7.4)
Requirement already satisfied: Click in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (7.1.2)
Requirement already satisfied: paramiko in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (2.8.0)
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.4.27)
Requirement already satisfied: pyyaml-include in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.2.post2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (5.4.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore>=0.4.0->openclean-core>=0.3.0->openclean-geo) (5.4.8)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (4.8.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (21.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (5.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.2.0->openclean-core>=0.3.0->openclean-geo) (3.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core>=0.3.0->openclean-geo) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core>=0.3.0->openclean-geo) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->openclean-core>=0.3.0->openclean-geo) (1.15.0)
Requirement already satisfied: tableprint in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (0.9.1)
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (1.5.2)
Requirement already satisfied: datasize>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (1.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.3.18->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.1.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (4.0.9)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (3.10.0.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (5.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (3.0.6)
Requirement already satisfied: cryptography>=2.5 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (35.0.0)
Requirement already satisfied: bcrypt>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (3.2.0)
Requirement already satisfied: pynacl>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.4.0)
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core>=0.3.0->openclean-geo) (2.21)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core>=0.3.0->openclean-geo) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core>=0.3.0->openclean-geo) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core>=0.3.0->openclean-geo) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core>=0.3.0->openclean-geo) (2021.10.8)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core>=0.3.0->openclean-geo) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core>=0.3.0->openclean-geo) (3.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core>=0.3.0->openclean-geo) (0.2.5)
Installing collected packages: openclean-geo
Successfully installed openclean-geo-0.1.0

In [ ]:
# Use a key generator that was specifically designed for street names.

from openclean.cluster.key import KeyCollision
from openclean_geo.address.usstreet import USStreetNameKey

# In this example we take a different approach: we first extract the list of
# distinct street names from the data file. We the apply transformations and
# clustering directly on the list of names using three parallel threads.

clusters = KeyCollision(func=USStreetNameKey(), threads=3).clusters(street_names)

In [ ]:
print_k_clusters(clusters, k=5)

Total number of clusters is 3782 with 14863 values

Cluster 1
  5 AVENUE (x 29034)
  FIFTH AVENUE (x 20375)
  5TH AVENUE (x 3794)
  5 AVE (x 623)
  5 AVE. (x 24)
  5TH AVE (x 549)
  5TH AVE. (x 111)
  5TH  AVENUE (x 16)
  5  AVENUE (x 16)
  5 AV (x 6)
  FIFTH AVE (x 397)
  5   AVENUE (x 4)
  FIFTH  AVENUE (x 33)
  5AVENUE (x 6)
  FIFTH AVE. (x 40)
  5TH. AVENUE (x 5)
  5TH  AVE (x 2)
  5    AVE (x 1)
  5AVE (x 1)
  5TH.AVENUE (x 5)
  5  AVE (x 1)
  FIFTH AVENU (x 2)
  5TH   AVE (x 1)
  5TH AVNUE (x 1)

Cluster 2
  1 AVENUE (x 6309)
  1 AVE (x 258)
  1ST AVE (x 137)
  FIRST AVENUE (x 5466)
  1ST AVENUE (x 811)
  FIRST AVE. (x 28)
  1ST AV (x 14)
  FIRST AVE (x 165)
  1ST AVE. (x 17)
  1  AVENUE (x 5)
  1 AV (x 2)
  FIRST AV (x 4)
  1ST  AVENUE (x 8)
  FIRST  AVENUE (x 10)
  FIRST. AVENUE (x 4)
  1AVENUE (x 2)
  FIRST  AVE. (x 4)
  1 AVE. (x 12)
  1  AVE (x 7)
  1AVE (x 2)
  FIRST AVENU (x 2)
  1ST  AVE (x 3)
  1TH AVENUE (x 1)

Cluster 3
  EAST   10 STREET (x 2346)
  EAST 10TH ST (x 28)
  EAST 10 STREET (x 339)
  EAST 10TH STREET (x 516)
  EAST 10 ST (x 50)
  E. 10TH. STREET (x 2)
  E10TH STREET (x 2)
  E 10 ST (x 14)
  E10 STREET (x 2)
  E 10 STREET (x 23)
  EAST 10TH ST. (x 4)
  E. 10TH ST (x 2)
  E. 10TH ST. (x 2)
  EAST  10 STREET (x 4)
  EAST10 STREET (x 2)
  EAST  10   ST (x 4)
  E 10TH ST (x 2)
  EAST  10TH STREET (x 4)
  EAST 10STREET (x 3)
  EAST 10ST (x 1)
  E 10TH STREET (x 4)
  EAST TENTH STREET (x 1)
  E. 10TH STREET (x 4)

Cluster 4
  EAST   23 STREET (x 2353)
  EAST  23RD  STREET (x 1)
  EAST 23 STREET (x 250)
  EAST  23  STREET (x 4)
  EAST 23RD STREET (x 418)
  E 23 ST (x 16)
  E 23 STREET (x 31)
  E 23 STR (x 11)
  EAST 23RD STREET` (x 1)
  E23 STREET (x 4)
  E 23RD STR (x 1)
  E.23RD ST (x 1)
  EAST 23RD  STREET (x 3)
  EAST 23 ST (x 17)
  E. 23RD ST. (x 5)
  E. 23 ST. (x 1)
  EAST 23RD ST (x 6)
  E 23RD STREET (x 5)
  E 23 ST. (x 4)
  E. 23RD STREET (x 3)
  EAST 23 ST. (x 6)
  E 23RD ST (x 7)
  EAST 23RD   STREET (x 1)

Cluster 5
  EAST 14TH STREET (x 691)
  EAST 14 STREET (x 230)
  EAST   14 STREET (x 3196)
  EAST 14TH ST (x 29)
  EAST 14 ST (x 34)
  E 14TH STREET (x 14)
  EAST  14  STREET (x 2)
  EAST 14 STR (x 2)
  E 14 STREET (x 43)
  E 14TH ST (x 5)
  E 14 ST (x 36)
  E14TH STREET (x 9)
  E. 14TH ST (x 6)
  EAST 14TH STR (x 2)
  EAST 14 STR. (x 3)
  E. 14TH STREET (x 7)
  EAST 14 ST. (x 7)
  EAST 14TH ST. (x 2)
  E14 STREET (x 8)
  E. 14 STREET (x 4)
  E. 14 ST (x 1)

In [ ]:
# Use street name standardization operator to modify street names
# before clustering them using the default fingerprint operator.

from openclean_geo.address.usstreet import StandardizeUSStreetName

street_names_std = StandardizeUSStreetName(characters='upper').apply(street_names, threads=3)
for name, count in street_names_std.most_common(50):
    print(f'{count:6}  {name}')

 68853  BROADWAY
 54862  5 AVE
 42669  PARK AVE
 33193  3 AVE
 30222  MADISON AVE
 19620  7 AVE
 16201  8 AVE
 16031  6 AVE
 15125  LEXINGTON AVE
 13206  1 AVE
 12818  2 AVE
 10483  NORTHERN BLVD
 10118  AVENUE OF THE AMERICAS
  9895  QUEENS BLVD
  9352  WEST END AVE
  9068  WEST 57 ST
  8135  HUDSON ST
  7931  JAMAICA AVE
  7606  FULTON ST
  7472  ROOSEVELT AVE
  7468  RIVERSIDE DR
  7458  CENTRAL PARK WEST
  7377  AMSTERDAM AVE
  7010  9 AVE
  6368  GRAND ST
  6353  ATLANTIC AVE
  6165  4 AVE
  6133  WEST 34 ST
  5963  MYRTLE AVE
  5904  MAIN ST
  5858  FLATBUSH AVE
  5806  BEDFORD AVE
  5708  PARK AVENUE SOUTH
  5551  EAST 42 ST
  5432  WEST 42 ST
  5396  EAST 57 ST
  5394  WALL ST
  5307  10 AVE
  5089  EAST 72 ST
  4984  BROAD ST
  4910  METROPOLITAN AVE
  4751  WEST 23 ST
  4728  86 ST
  4705  RICHMOND AVE
  4642  GREENWICH ST
  4481  NOSTRAND AVE
  4414  HILLSIDE AVE
  4301  EAST 14 ST
  4226  LIBERTY AVE
  4150  EAST TREMONT AVE

In [ ]:
clusters = KeyCollision(func=Fingerprint(), threads=3).clusters(street_names_std)
print_k_clusters(clusters, k=5)

Total number of clusters is 1412 with 3125 values

Cluster 1
  EAST 10 ST (x 3345)
  EAST . 10 . ST (x 2)
  EAST 10 ST . (x 4)
  EAST . 10 ST (x 6)
  EAST . 10 ST . (x 2)

Cluster 2
  EAST 116 ST (x 1225)
  EAST . 116 ST . (x 4)
  EAST 116 ST . (x 11)
  EAST . 116 ST (x 2)
  EAST . 116 . ST (x 1)

Cluster 3
  WEST 12 ST (x 2898)
  WEST . 12 ST (x 5)
  WEST 12 . ST (x 3)
  WEST 12 ST . (x 1)
  WEST 12 . ST . (x 1)

Cluster 4
  EAST 24 ST (x 1595)
  EAST . 24 ST (x 5)
  EAST 24 . ST (x 3)
  EAST . 24 ST . (x 2)
  EAST 24 ST . (x 2)

Cluster 5
  3 AVE (x 33193)
  3 AVE . (x 167)
  3 AVE ., (x 7)
  3 . AVE (x 1)
  3 AVE , (x 2)

In [ ]:
# Use option to remove special characters (keep only alpha-numeric tokens)
# when standardizing street names and option to remove repeated tokens.

f = StandardizeUSStreetName(characters='upper', alphanum=True, repeated=False)
street_names_std = f.apply(street_names, threads=3)
clusters = KeyCollision(func=Fingerprint(), threads=3).clusters(street_names_std)
print_k_clusters(clusters, k=5)

Total number of clusters is 4 with 8 values

Cluster 1
  BEDFORD PARK BLVD EAST (x 5)
  EAST BEDFORD PARK BLVD (x 1)

Cluster 2
  EAST CLARKE PLACE (x 106)
  CLARKE PLACE EAST (x 4)

Cluster 3
  ST LAWRENCE (x 1)
  LAWRENCE ST (x 260)

Cluster 4
  ST NICHOLAS (x 5)
  NICHOLAS ST (x 8)

In [ ]:
from openclean.function.eval.datatype import IsDatetime
from openclean.operator.transform.select import select
from openclean.operator.transform.update import update